@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  outline: none;
  user-select: none;
  font-family: Raleway;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: unset; }

form {
  font: 500 1.2vw Raleway, Arial, sans-serif; }
  form input[type="text"] {
    font: 500 1.2vw Raleway, Arial, sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 0.5vw;
    width: 18vw;
    margin: 1vw 0; }
  form h3 {
    font: 500 1.2vw Raleway, Arial, sans-serif;
    margin-bottom: 0.5vw; }
  form input[type="checkbox"] {
    font-size: 1vw;
    margin: 0.5vw; }
  form button {
    color: black;
    width: 30%;
    height: 4vw;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid black;
    font: 500 1.5vw Raleway, Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    margin: 2vw 0 5vw;
    transition: all 400ms; }
    form button:hover {
      background-color: rgba(0, 0, 0, 0.2); }
    form button:active {
      transform: scale(0.9); }

footer {
  display: flex;
  padding: 0.5vw;
  height: 13vw; }
  footer #left-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgba(0, 0, 0, 0.2); }
    footer #left-section img[alt=logo] {
      margin: 1vw;
      height: 4vw; }
    footer #left-section .social-media {
      padding: 1vw;
      display: flex;
      width: 50%;
      justify-content: space-around; }
      footer #left-section .social-media img {
        width: 4vw;
        transition: all 250ms; }
        footer #left-section .social-media img:hover {
          transform: scale(0.9); }
  footer #right-section {
    height: 100%; }
    footer #right-section .icon {
      width: 2.5vw; }
    footer #right-section .contact {
      height: 100%;
      margin-left: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      footer #right-section .contact div {
        display: flex;
        align-items: center;
        line-height: 2vw; }
        footer #right-section .contact div h3 {
          font: 1.3vw/140% "Open Sans", Times, serif;
          margin-left: 1vw; }

section {
  background-size: cover;
  background-repeat: none;
  height: 60vw;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.1);
  transition: all 700ms; }
  section .text-content {
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 5%;
    text-align: left; }
    section .text-content h1 {
      font: 300 3vw Raleway, Arial, sans-serif;
      text-transform: capitalize;
      padding: 1vw 0;
      width: 15ch; }
    section .text-content h2 {
      font: 1.3vw/140% "Open Sans", Times, serif;
      max-width: 70ch;
      padding-bottom: 1vw; }
    section .text-content h3 {
      text-transform: capitalize;
      font: 500 1.2vw Raleway, Arial, sans-serif;
      font-size: 1.5vw;
      font-weight: 500;
      margin-bottom: 0.75vw; }
    section .text-content .ingredients {
      display: none;
      width: 50%;
      padding-bottom: 0.2vw; }
      section .text-content .ingredients h2 {
        width: 30ch; }
      section .text-content .ingredients h3 {
        font: 1.3vw/140% "Open Sans", Times, serif;
        font-size: 1.2vw; }
    section .text-content .rotate180 {
      transform: rotate(180deg); }
    section .text-content .expand-arrow {
      cursor: pointer;
      margin-top: -0.5vw;
      width: 2.5vw;
      height: 2.5vw;
      padding: 0.25vw;
      transition: all 250ms;
      display: block; }
      section .text-content .expand-arrow:hover {
        transform: scale(1.2); }
    section .text-content button {
      color: black;
      width: 50%;
      height: 4vw;
      padding: 1vw;
      background-color: rgba(255, 255, 255, 0);
      border: 2px solid black;
      font: 500 1.5vw Raleway, Arial, sans-serif;
      text-decoration: none;
      cursor: pointer;
      outline: none;
      margin-bottom: 1vw;
      transition: all 400ms; }
      section .text-content button:hover {
        width: 60%; }

#intro {
  background-image: url("../images/sections/product-far.jpg"); }
  #intro .text-content {
    background: linear-gradient(white, rgba(255, 255, 255, 0.3));
    box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.1); }

#how-to {
  opacity: 0;
  justify-content: flex-end;
  background-image: url("../images/sections/howto.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left; }
  #how-to h1 {
    width: 100%; }

#pumpkin {
  background-image: url("../images/sections/pumpkin.jpg"); }

#vanilla {
  background-image: url("../images/sections/vanilla.jpg"); }

#pepermint {
  background-image: url("../images/sections/pepermint.jpg"); }

#megan-cath {
  height: auto;
  padding: 3vw 4vw 7vw; }
  #megan-cath article {
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #megan-cath article h1 {
      margin-top: 2vw;
      font: 300 3vw Raleway, Arial, sans-serif; }
    #megan-cath article p {
      padding-top: 2vw;
      font: 1.3vw/140% "Open Sans", Times, serif;
      width: 45ch; }
    #megan-cath article img {
      width: 30vw;
      height: 30vw;
      border-radius: 500px; }

#thank-you {
  background-image: url("../images/sections/thank-you.jpg"); }
  #thank-you .text-content {
    width: 35%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 0; }

#about-banner {
  background-image: url("../images/sections/cat_meg.jpg");
  background-size: cover;
  height: 40vw; }

#story {
  padding: 5vw 0;
  padding-top: 10vw;
  flex-direction: column;
  height: auto;
  background-image: url("../images/sections/cat-meg.jpg");
  background-size: contain;
  background-repeat: no-repeat; }
  #story h1 {
    text-align: center;
    font: 300 3vw Raleway, Arial, sans-serif; }
  #story article {
    width: 100%;
    padding: 1vw 5vw;
    text-align: left; }
    #story article p {
      padding-top: 1vw;
      font: 1.3vw/140% "Open Sans", Times, serif;
      font-size: 1.2vw;
      width: 39%; }
    #story article h1 {
      text-align: center;
      padding-top: 4vw;
      width: 50%; }

#welcome-aboard {
  height: auto;
  padding: 2vw 0;
  text-align: center; }
  #welcome-aboard h1 {
    font: 300 3vw Raleway, Arial, sans-serif;
    margin: 0 auto;
    width: 30ch; }

#cart-section {
  height: auto;
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10vw;
  justify-content: center; }
  #cart-section h1,
  #cart-section h2 {
    width: 10vw; }
  #cart-section form {
    width: 100vw; }
    #cart-section form label {
      display: block;
      width: 10vw; }
  #cart-section .labels {
    display: flex;
    justify-content: space-around;
    width: 100%; }
  #cart-section .total {
    font: 500 1.2vw Raleway, Arial, sans-serif;
    padding: 1vw;
    align-items: center;
    margin-top: 2vw;
    width: 30%;
    margin-right: auto;
    border: 5px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start; }
    #cart-section .total span {
      font-size: 1.2vw;
      font-weight: 500;
      margin-left: 0.2vw; }
  #cart-section .contact {
    padding: 2vw 0;
    display: flex;
    width: 100%;
    justify-content: flex-start; }
    #cart-section .contact h1 {
      font: 500 1.2vw Raleway, Arial, sans-serif;
      font-size: 2vw;
      width: 20vw; }
  #cart-section .product-bar {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    height: 10vw;
    align-items: center;
    justify-content: space-around; }
    #cart-section .product-bar h1 {
      font-size: 1.5vw; }
    #cart-section .product-bar h2,
    #cart-section .product-bar h3 {
      font: 500 1.2vw Raleway, Arial, sans-serif;
      font-size: 1.5vw; }
    #cart-section .product-bar h3 {
      width: 1vw; }
    #cart-section .product-bar h4 {
      font-size: 3vw;
      border-radius: 5px;
      width: 4vw;
      height: 4vw;
      text-align: center;
      line-height: 4vw;
      background-color: rgba(0, 0, 0, 0.1);
      transition: all 250ms;
      cursor: pointer; }
      #cart-section .product-bar h4:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transform: scale(0.9); }
      #cart-section .product-bar h4:active {
        transform: scale(0.7); }
    #cart-section .product-bar img {
      height: 9vw; }

#menu {
  position: fixed;
  font: 500 1.2vw Raleway, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  height: 5vw;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
  transition: all 500ms; }
  #menu ul {
    padding: 0 1vw;
    width: auto;
    display: flex; }
    #menu ul:hover li:not(:hover) {
      color: rgba(0, 0, 0, 0.4); }
    #menu ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
      padding: 0 1vw;
      list-style: none;
      transition: all 250ms;
      border-bottom: 1px solid white; }
      #menu ul li:hover:not(:nth-of-type(4)) {
        box-sizing: content-box;
        border-bottom: 1px solid black; }
  #menu #cart {
    height: 2vw;
    transition: all 250ms; }
    #menu #cart:hover {
      transform: scale(1.3); }
  #menu #cart-count {
    width: 1vw;
    margin-left: -1.7vw; }
  #menu #logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 250ms; }
    #menu #logo:hover {
      transform: scale(0.9); }
    #menu #logo img {
      height: 4vw;
      transition: all 500ms; }

/*# sourceMappingURL=main.css.map */
